.vs/ProjectEvaluation/uox3atlas.metadata.v9.bin
*.bin
*.db
*.v2
*.vsidx
.vs/UOX3Atlas/v17/.suo
.vs/UOX3Atlas/v17/DocumentLayout.backup.json
.vs/UOX3Atlas/v17/DocumentLayout.json
UOX3Atlas/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
UOX3Atlas/bin/Debug/net6.0-windows/settings.json
UOX3Atlas/bin/Debug/net6.0-windows/UOX3Atlas.deps.json
UOX3Atlas/bin/Debug/net6.0-windows/UOX3Atlas.dll
UOX3Atlas/bin/Debug/net6.0-windows/UOX3Atlas.exe
UOX3Atlas/bin/Debug/net6.0-windows/UOX3Atlas.pdb
UOX3Atlas/bin/Debug/net6.0-windows/UOX3Atlas.runtimeconfig.json
UOX3Atlas/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UOX3Atlas/obj/Debug/net6.0-windows/apphost.exe
UOX3Atlas/obj/Debug/net6.0-windows/ref/UOX3Atlas.dll
UOX3Atlas/obj/Debug/net6.0-windows/refint/UOX3Atlas.dll
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.AssemblyInfo.cs
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.AssemblyInfoInputs.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.assets.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.csproj.AssemblyReference.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.csproj.CoreCompileInputs.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.csproj.FileListAbsolute.txt
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.csproj.GenerateResource.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.csproj.Up2Date
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.dll
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.GeneratedMSBuildEditorConfig.editorconfig
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.genruntimeconfig.cache
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.MainForm.resources
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.pdb
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.Properties.Resources.resources
UOX3Atlas/obj/Debug/net6.0-windows/UOX3Atlas.sourcelink.json
UOX3Atlas/obj/project.assets.json
UOX3Atlas/obj/project.nuget.cache
UOX3Atlas/obj/UOX3Atlas.csproj.nuget.dgspec.json
UOX3Atlas/obj/UOX3Atlas.csproj.nuget.g.props
UOX3Atlas/obj/UOX3Atlas.csproj.nuget.g.targets
.vs/UOX3Atlas/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
.vs/UOX3Atlas/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
.vs/UOX3Atlas/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
.vs/UOX3Atlas/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
UOX3Atlas/bin/Release/net6.0-windows/Newtonsoft.Json.dll
UOX3Atlas/bin/Release/net6.0-windows/settings.json
UOX3Atlas/bin/Release/net6.0-windows/UOX3Atlas.deps.json
UOX3Atlas/bin/Release/net6.0-windows/UOX3Atlas.dll
UOX3Atlas/bin/Release/net6.0-windows/UOX3Atlas.exe
UOX3Atlas/bin/Release/net6.0-windows/UOX3Atlas.pdb
UOX3Atlas/bin/Release/net6.0-windows/UOX3Atlas.runtimeconfig.json
UOX3Atlas/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UOX3Atlas/obj/Release/net6.0-windows/apphost.exe
UOX3Atlas/obj/Release/net6.0-windows/ref/UOX3Atlas.dll
UOX3Atlas/obj/Release/net6.0-windows/refint/UOX3Atlas.dll
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.AssemblyInfo.cs
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.AssemblyInfoInputs.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.assets.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.csproj.AssemblyReference.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.csproj.CoreCompileInputs.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.csproj.FileListAbsolute.txt
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.csproj.GenerateResource.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.csproj.Up2Date
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.dll
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.GeneratedMSBuildEditorConfig.editorconfig
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.genruntimeconfig.cache
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.MainForm.resources
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.pdb
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.Properties.Resources.resources
UOX3Atlas/obj/Release/net6.0-windows/UOX3Atlas.sourcelink.json
